.box_body {
    display        : flex;
    justify-content: center;
}

.title {
    width     : 80%;
    margin-top: 4rem;
}

/* blocks */

.block_body {
    display        : flex;
    justify-content: space-between;
    margin-top     : 3rem;
}

@media (min-width:0) and (max-width:449.9px) {
    .block_body {
        flex-direction: column;
        align-items   : center;
        margin : 2rem 0 0 0;
    }

    .title {
        width     : 80%;
        margin-top: 2rem;
    }

}

@media (min-width:450px) and (max-width:749.9px) {
    .block_body {
        justify-content: space-around;
        flex-wrap      : wrap;
    }
    .title {
        width     : 95%;
        margin-top: 2rem;
    }
}

@media (min-width:750px) and (max-width:1249.9px) {

    .title {
        width: 95%;
    }

}