.body{
    display: flex;
    justify-content: center;
}

.Login{
    width: 80%;
}

.wrapper h1{
    font-size: 40px;
    font-family: var(--main-font-family);
    color: var(--font-color2);
}

.wrapper input{
    outline: none;
    border-bottom: 2px solid gray ;

    border-top: none;
    border-right: none;
    border-left: none;
    height: 25px;
}

.Inp{
    background-image: url(./error.png);
    background-size: 10% 95%;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    box-sizing: border-box;
    border: 2px solid #ff0000 !important;
}
