.form {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 22px;
  background-color: #3596d3;
  color: white;
  border: none;
}

.inp_text {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
