 .HeaderActive {
     color          : #2389FF !important;
     text-decoration: none;
     font-weight    : bold;
 }

 .header_sm {
     display: none;
 }

 @media (min-width:0) and (max-width:749.9px) {
     .header_sm {
         display        : flex;
         margin     : 10px 0 10px 0 ;
         justify-content: space-evenly;
     }

     .header_sm a img {
         width : 40px;
         height: 40px;
     }
 }