.body {
    display        : flex;
    justify-content: center;
    margin-top     : 101px;
}

.our_partners {
    width: 85%;
}

.title {
    font-family: Inter, sans-serif;
    font-style : normal;
    font-weight: bold;
    font-size  : 42px;
    line-height: 50px;
    color      : #304560;
}

.text {
    font-family: Times New Roman;
    font-style : normal;
    font-weight: normal;
    font-size  : 20px;
    line-height: 26px;
    color      : #728399;
}

.partners_icon {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    overflow       : auto;
}

.slide img {
    width        : 150px;
    height       : 150px;
    margin-bottom: 1rem;
    object-fit   : contain;
}

.slider {
    background: white;
    width: 100%;
    overflow  : hidden;
}

.slider::before,
.slider::after {
    content : "";
    height  : 100px;
    position: absolute;
    width   : 200px;
    z-index : 2;
}

.slider::after {
    right    : 0;
    top      : 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top : 0;
}

.contrubutor_sec{
    width: 100%;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider .slide_track {
    animation: scroll 40s linear infinite;
    display  : flex;
    width    : calc(250px * 14);
}

.slider .slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slide img:hover{
    transform: translateX(15px);
    transition: 0.8s;
}

.pictureTRZ {
    object-fit: cover !important;
}

@media (min-width:0) and (max-width:449.9px) {
    .body {
        display        : flex;
        justify-content: center;
        margin-top     : 30px;
    }

    .partners_icon img {
        margin-right : 1.5rem;
        width        : 80px;
        height       : 80px;
        margin-bottom: 1rem;
        object-fit   : contain;
    }

    .title {
        font-size    : 17px;
        line-height  : 30px;
        text-align   : center;
        margin-bottom: 5px;
    }

    .text {
        font-size    : 14px;
        line-height  : 20px;
        text-align   : center;
        margin-bottom: 5px;
    }
}

@media (min-width:450px) and (max-width:749.9px) {

    /* title */
    .title {
        font-size: 32px;
    }

    /* text */
    .text {
        font-size: 15px;
    }

    /* picture */
    .partners_icon img {
        margin-right: 3rem;
        width       : 130px;
        height      : 130px;
    }
}

@media (min-width:750px) and (max-width:1249.9px) {
    .body {
        margin-top: 35px;
    }

    .our_partners {
        width: 95%;
    }

    .title {
        font-size  : 25px;
        line-height: 30px;
    }

    .text {
        font-size  : 18px;
        line-height: 20px;
    }

}