
.box {
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h1 {
    font-family: Gilroy;
    font-style : normal;
    font-weight: bold;
    font-size  : 70px;
    line-height: 85px;

    color      : white;
    text-shadow: 2px -2px 0 #2389FF, -2px -2px 0 #2389FF, -2px 2px 0 #2389FF, 2px 2px 0 #2389FF
}

.box h2 {
    font-family: MTS Sans;
    font-style : normal;
    font-weight: bold;
    font-size  : 20px;
    line-height: 24px;
    font-weight: bolder;
    color      : #304560;
}

.box h3 {
    font-family: IBM Plex Sans;
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 21px;
    color      : #728399;
}

.box a {
    font-family    : Gilroy;
    font-style     : normal;
    font-weight    : bold;
    font-size      : 18px;
    line-height    : 22px;
    color          : #2389FF;
    text-decoration: none;
}


@media (min-width:0) and (max-width:449.9px) {
    .box {
        width: 95%;
    }

    .box h1 {
        font-size  : 60px;
        line-height: 70px;
        margin     : 30px 0;
    }

    .box h2 {
        font-size: 16px;
    }

    .box h3 {
        font-size  : 14px;
        line-height: 18px;
    }

    .box a {
        font-size  : 16px;
        line-height: 20px;
    }
}


@media (min-width:450px) and (max-width:749.9px) {
    .box {
        width: 45%;
    }

    .block .box:nth-child(3) {
        width: 100%;
    }

    .box h1 {
        font-size  : 60px;
        line-height: 75px;
        margin     : 30px 0;
    }

    .box h2 {
        font-size  : 16px;
        line-height: 22px;
    }

    .box h3 {
        font-size  : 15px;
        line-height: 18px;
    }

    .box a {
        font-size  : 17px;
        line-height: 20px;
    }
}

@media (min-width:750px) and (max-width:905px) {
    .box h1 {
        font-size  : 60px;
        line-height: 70px;
        margin: 30px 0;
    }

    .box h2 {
        font-size  : 15px;
        line-height: 20px;
        margin: 5px 0;
    }

    .box h3 {
        font-size  : 13px;
        line-height: 15px;
    }

    .box a {
        font-size      : 16px;
        line-height    : 20px;
    }
}